body { 
  margin-left: 5%; 
  margin-right: 5%; 
  font-family:Arial;
}

h1 {
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
}

img
{
	position:center;
	float:center;
}

.ingredients{
  position: relative;
  float: left;
  margin-top: 50px;
  width: 10%;
  height: 400px;
  margin-bottom: 10px;
  border-style:solid;
  border-color:red;
}

.directions{
  position: relative;
  float: right;
  margin-top: 50px;
  width: 88%;
  margin-bottom: 10px;
  padding: 5px;
  border-style:solid;
  border-color:black;
}
