body { 
  margin-left: 5%; 
  margin-right: 5%; 
  font-family:Arial;
}

h1 {
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
};

img
{
	position:center;
	float:center;
};

.ingredients
{
  position: relative;
  float: left;
  width: 10%;
};

.directions
{
  position: relative;
  float: right;
  padding: 5px;
};
